h1, h2, h3, h4, h5, h6 {
    font-family: var(--lumo-font-family), sans-serif;
}

/* Sayfa genel düzeni */
.hello-world-layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* Kutucuk genişliği için esnek ayar */
.input-field {
    width: 15vw;
    max-width: 400px;
    min-width: 200px;
}
.drawer-menu {
    background-color: #f5f5f5;
    padding: 20px;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 0px;
    margin-right: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

.drawer-title {
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.menu-item {
    display: flex;
    align-items: center;
    color: #6c757d;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item vaadin-icon {
    margin-right: 10px;
    font-size: 10px;
}

/* Seçili sekme mavi olacak */
.menu-item[highlight], .menu-item:active, .menu-item:focus {
    background-color: #e4f2f7;
    color: blue;
    text-decoration: none;
}

.content {
    flex-direction: column;
    height: 80vh;
    padding: 40px;
    overflow-x: hidden;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: auto;
    margin-left: 10px;
    margin-top: 70px;
}

.helloWName-field{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease;
    height: 60px;
}

.input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.say-hello-button {
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.3s ease;
    height: 40px;
    padding: 10px 20px;
    align-self: center;
}

.say-hello-button:hover {
    color: #0056b3;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-label {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
    font-weight: bold;
}

.page-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    width: calc(100% - 260px);
    overflow-x: hidden;
    top: 0;
    height: 70px;
    background-color: #ffffff;
    position: absolute;
}

.menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    color: black;
    display: flex;
}

.page-title {
    margin: 0;
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-xl);
    font-weight: bold;
    color: var(--lumo-header-text-color);
}

vaadin-grid::part(row) {
    height: 50px;
}

vaadin-grid::part(row):hover {
    background-color: #f5f5f5 !important;
    transition: background-color 0.3s ease;
}

vaadin-grid::part(header-cell) {
    background-color: #E3F2FD;
    font-weight: bold;
    text-align: center;
    color: #000;
}

vaadin-grid::part(cell) {
    text-align: center;
}

.search-bar {
    width: 300px;
    margin-bottom: 10px;
}

html, body {
    overflow-x: hidden;
}